@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
margin: 0;
padding: 0;
}


/* CSS */
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.footer-container {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("./assets/footer.jpg");
  background-size: cover; /* or contain, depending on your preference */
  background-position: center;

  
  /* Add any additional styles you want for your footer */
}


.dropdown .dropdown-content {
  display: none; /* Fsheh dropdown-in fillimisht */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;

  
}

.dropdown:hover .dropdown-content {
  display: block; /* Shfaq dropdown-in kur hovërohet mbi elementin dropdown */
}

.shadow{
  box-shadow: 0 8px 0 #006394; 
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}

.nav img {
  height: 40px;
  position: relative;
  z-index: 10;
}

.nav .menu {
  display: none;
}

.nav .btn-media {
  margin-right: 20px;
  position: relative;
  z-index: 10;
}

@media only screen and (min-width: 576px) {
  .nav a {
    margin-right: 20px;
  }
  
  .nav .btn-media {
    display: none;
  }
  
  .nav .menu {
    display: flex;
  }
}

@media only screen and (max-width: 576px) {
  .nav .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

