@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
margin: 0;
padding: 0;
}


/* CSS */
.p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.footer-container {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("./assets/footer.jpg");
  background-size: cover; /* or contain, depending on your preference */
  background-position: center;

  
  /* Add any additional styles you want for your footer */
}


.dropdown .dropdown-content {
  display: none; /* Fsheh dropdown-in fillimisht */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  
}

.dropdown:hover .dropdown-content {
  display: block; /* Shfaq dropdown-in kur hovërohet mbi elementin dropdown */
}

.shadow{
  box-shadow: 0 8px 0 #006394; 
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}
